/* styles/globals.css */

/* Import Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Import custom styles */
@layer base {
 

  @font-face {
    font-family: 'Primary';
    font-weight: 500;
    src: url('/assets/font/PrincesS_AND_THE_FROG.ttf') format('truetype');
  }
}
