/* styles/globals.css */

/* Import Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Import Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Import custom styles */
@layer base {
  @font-face {
    font-family: 'Primary';
    font-weight: 500;
    src: url('/assets/font/PrincesS_AND_THE_FROG.ttf') format('truetype');
    /* Update the path to the correct location of your font file */
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

  .Secondary-Font {
    font-family: 'Primary';
  }
}
/* Replace these styles with your desired colors */
.swiper-button-prev,
.swiper-button-next {
  color: #f5a524; /* Change to your preferred color */
}
.swiper-button-prev:after,
.swiper-button-next:after{
  color: #f5a524; /* Change to your preferred color */
}

/* Optional: Add hover styles for better interactivity */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #ff9d00; /* Change to your preferred hover color */
}
.swiper-button{
  color: #f5a524;
}